
.footer {
  align-items: center;
  background: rgba(13, 13, 13, 0.9);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  padding: 80px 50px 30px;
  font-family: Neulis Alt;
  flex-wrap: nowrap;
}
.circle{
  content: '';
  position: absolute;
  top: 50%;
  left: 20%;
  aspect-ratio: 1;
  width: 2vw;
  background: radial-gradient(circle, rgba(15, 140, 88, 1));
  border-radius: 50%;
  z-index: -1;
}


.footer-content {
  display: flex;
  width: 100%;
  max-width: 1120px;
  align-items: start;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.brand-section {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  font-family: Neulis Alt, sans-serif;
  color: #e4e4e4;
  width: 16vw;
}

.logo {
  aspect-ratio: 4;
  width: 15vw;
  object-fit: contain;
}

.brand-info {
  margin-top: 24px;
  width: 100%;
}

.brand-title {
  font-size: 0.9vw;
  line-height: 1.2;
  margin: 0;
}

.brand-description {
  font-size: 0.8vw;
  line-height: 17px;
  margin-top: 12px;
}

.divider {
  align-self: stretch;
  background-color: #e4e4e4;
  width: 0.1vw;
  min-height: 275px;
}

.site-nav,
.legal-nav {
  color: #e4e4e4;
  font: 400 0.9vw/1.2 Neulis Alt, sans-serif;
}

.nav-title {
  font-size: 1.6vw;
  line-height: 1;
  margin: 0 0 12px;
  padding-left: 12px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: inherit;
  text-decoration: none;
  padding: 6px 0;
}

.nav-dot {
  background-color: #079046;
  border-radius: 50%;
  width: 0.6vw;
  height: 8px;
  opacity: 0; 
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.nav-link:hover .nav-dot {
  opacity: 1; 
  visibility: visible;
}

.contact-section {
  width: 15vw;
  color: #e4e4e4;
  font: 400 1vw Neulis Alt, sans-serif;
}

.contact-info {
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
  color: inherit;
  text-decoration: none;
}

.contact-icon {
  aspect-ratio: 0.9;
  width: 1.4vw;
  object-fit: contain;
}

.social-links {
  display: flex;
  gap: 14px;
  margin-top: 24px;
}

.social-icon {
  aspect-ratio: 1;
  width: 2vw;
  object-fit: contain;
}

.copyright {
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10vw;
  color: #e4e4e4;
  font: 400 14px/1.2 Neulis Alt, sans-serif;
}

.copyright-logo {
  width: 84px;
  height: 16px;
  object-fit: contain;
}

.copyright-divider {
  background-color: #d9d9d9;
  width: 0.1vw;
  height: 16px;
}

.copyright-text {
  margin: auto 0;
}

.copyright-left{
  display:flex;
  align-items: start;
  justify-content: left;
  gap: 10px;
}
.copyright-right{
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 991px) {
  .footer {
    padding: 0 20px;
  }

  .footer-content {
    max-width: 100%;
  }

  .copyright {
    margin-top: 40px;
  }
}

