<nav class="navigation-bar navbar sticky-top" role="navigation" aria-label="Main navigation">
  <a routerLink="/" routerLinkActive="active"><img
    loading="lazy"
    src="images/header/logo.svg"
    class="company-logo"
    alt="Company Logo"
  /></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon red"></span>
  </button>
    <div class="navigation-menu collapse navbar-collapse" id="navbarNav">
      <div class="menu-item">
        <span class="status-indicator"></span>
        <a href="#" class="menu-link">Find work</a>
      </div>
      <div class="menu-item">
        <span class="status-indicator"></span>
        <a href="#" class="menu-link">Find Tunilancer</a>
      </div>
      <div class="menu-item">
        <span class="status-indicator"></span>
        <a href="#" class="menu-link">Gigs</a>
      </div>
      <div class="menu-item">
        <span class="status-indicator"></span>
        <a href="#" class="menu-link">Community</a>
      </div>
      <div class="menu-item">
        <span class="status-indicator"></span>
        <a href="#" class="menu-link">About us</a>
      </div>
    </div>
    <div class="navigation-actions">
      <form class="search-form" role="search">
        <label for="searchInput" class="visually-hidden">Search</label>
        <div class="search-container">
          <img
            loading="lazy"
            src="images/header/searchicon.svg"
            class="search-icon"
            alt=""
          />
          <input
            type="search"
            id="searchInput"
            class="search-input"
            placeholder="Search.."
            aria-label="Search"
          />
        </div>
      </form>
      <div class="auth-section">
        <button class="login-button" aria-label="Login" routerLink="SignIn">SIGN IN</button>
        <button class="login-button" aria-label="Sign Up" routerLink="SignUp">SIGN UP</button>
        <img
          loading="lazy"
          src="images/header/profileicon.svg"
          class="profile-icon"
          alt=""
        />
      </div>
    </div>
  </nav>