.software-card {
    align-items: center;
    border-radius: 2vw;
    border: 0.2vw solid var(--Cards-Stroke, #b5b5b5);
    box-shadow: 0.4vw 0.4vw 1vw 0vw rgba(0, 0, 0, 0.2);
    background-color: rgba(228, 228, 228, 0.25);
    display: flex;
    max-width: 25vw;
    width: 20vw;
    padding: 1vw 2vw;
    gap: 2vw;
  }
  
  .content-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto 0;
  }
  
  .header-section {
    display: flex;
    align-items: flex-start;
    gap: 1vw;
  }
  
  .software-icon {
    aspect-ratio: 1.5;
    object-fit: contain;
    object-position: center;
    width: 4vw;
    user-select: none;
  }
  
  .title {
    font-family: 'Neulis Alt', sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 1.2vw;
    margin: 0;
    width:11vw;
    line-clamp: 2;
    overflow: hidden;
  }
  .action-button {
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(228, 228, 228, 0.5);
    border-radius: 2vw;
    box-shadow: 0.2vw 0.2vw 0.9vw 0vw rgba(7, 144, 70, 0.25);
    background-color: #079046;
    margin-top: 2vw;
    padding: 0.5vw 1vw;
    min-height: 1vw;
    font-family: 'Neulis Alt', sans-serif;
    font-size: 1.2vw;
    color: #e4e4e4;
    line-height: 1.2;
    border: 0.2vw solid #079046;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  .action-button::before {
    content: ""; /* Empty content by default */
    position: absolute;
    left: -20vw; /* Position the symbol off the button by default */
    top: 50%;
    transform: translateY(-50%);
    color: #079046; /* Green color for the symbol */
    font-size: 2vw;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease, left 0.3s ease; /* Smooth animation */
  }
  
  .action-button:hover::before {
    content: ">"; /* Add the symbol on hover */
    left: 0.5vw; /* Move the symbol closer to the button */
    opacity: 1; /* Make it visible */
  }
  
  .action-button:hover {
    padding: 0.6vw 1.8vw;
    background-color: transparent;
    color: #079046;
    transform: translateY(-0.01vw);
  }
