.testimonial-card {
    border-radius: 2vw;
    border: 2.5px solid var(--Cards-Stroke, #b5b5b5);
    backdrop-filter: blur(20px);
    background-color: rgba(228, 228, 228, 0.75);
    padding: 1vw;
    aspect-ratio: 0.7;
    max-width: 22vw;
  }
  
  .testimonial-content {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image {
    aspect-ratio: 1;
    width: 7vw;
    border-radius: 50%;
    object-fit: contain;
  }
  
  .testimonial-details {
    margin-top: 2vw;
    width: 100%;
  }
  
  .author-info {
    max-width: 20vw;
  }
  
  .author-header {
    display: flex;
    align-items: center;
    gap: 0.5vw;
  }
  
  .author-name {
    color: #079046;
    font-size: 1.5vw;
    margin: 0;
    font-weight: 400;
  }
  
  .status-indicator {
    aspect-ratio: 1;
    width: 0.8vw;
    background-color: rgba(7, 144, 70, 1);
    border-radius: 50%;
  }
  
  .author-title {
    color: #0d0d0d;
    font-size: 1.3vw;
    margin: 0;
  }
  
  .testimonial-text {
    width: 100%;
    color: #0d0d0d;
    font-size: 1vw;
    margin: 1vw 0 0;
    line-height: 1.2vw;
  }