:host {
    display: contents;
}

.page-container {
    margin-top: 8vw;
    margin-bottom: 8vw;
}

.illustrator{
    width: 30vw;  
}
.signup-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    gap: 10vw;
    font-family: Neulis Alt, sans-serif;
    flex-wrap: nowrap;
    padding: 20px 0;

}

.signup {
    border-radius: 24px;
    border: 2.5px solid var(--Cards-Stroke, #b5b5b5);
    background: linear-gradient(155deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(228, 228, 228, 0.25) 100%);
    backdrop-filter: blur(100px);
    padding: 35px 50px;
    width: 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.tunilanci-logo{
    aspect-ratio: 4;
    width: 15vw;
}
.signup-title {
    color: #079046;
    font-size: 2.5vw;
    line-height: 1.2;
}
.continue-with-button p {
  padding-top: 16px;
}
.continue-with-button {
    text-shadow: 2px 2px 8px rgba(228, 228, 228, 0.5);
    border-radius: 43px;
    box-shadow: 4px 4px 12px 0px rgba(7, 144, 70, 0.25);
    background-color: rgba(228, 228, 228, 0.1);
    margin-top: 12px;
    min-height: 24px;
    width: 368px;
    height: 48px;
    font-size: 1vw;
    color: #0d0d0d;
    line-height: 1.2;
    padding: 20px 10px;
    border: 2px rgba(7, 144, 70, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.continue-logo {
    aspect-ratio: 1.5;
    width: 2vw;
}

#google-button:hover,
#google-button:focus {
    background-color: rgba(191, 46, 0, 1);
    color: #e4e4e4;
    transform: translateY(-2px);

}

#google-button:hover img,
#google-button:focus img {
    content: url("/images/signup/google2.svg");
}

#facebook-button:hover,
#facebook-button:focus {
    background-color: rgba(6, 128, 221, 1);
    color: #e4e4e4;
    transform: translateY(-2px);
}

#facebook-button:hover img,
#facebook-button:focus img {
    content: url("/images/signup/facebook2.svg");
}

#apple-button:hover,
#apple-button:focus {
    background-color: #0d0d0d;
    color: #e4e4e4;
    transform: translateY(-2px);
}

#apple-button:hover img,
#apple-button:focus img {
    content: url("/images/signup/apple2.svg");
}

.divider-container {
    margin-top: 20px;
    min-width: 90%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font: 400 16px/1.2 Neulis Alt, -apple-system, Roboto, Helvetica, sans-serif;
}

.divider-line {
    background-color: var(--Black, #0d0d0d);
    height: 2px;
    flex: 0;
    flex-basis: 20%;
}

.divider-text {
    color: var(--Black, #0d0d0d);
    text-align: center;
    font-size: 1vw;
}

.signup-form {
    margin-top: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 28vw;
}

.form-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    flex-basis: 100%;
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 59px;
    background-color: rgba(255, 255, 255, 1);
    min-height: 20px;
    padding: 10px 20px;
    width: 100%;
    border: 3px #e4e4e4;
    font-size: 1vw;
    transition: all 0.3s ease;
    outline: none;
}

.input-group::placeholder {
    color: rgba(138, 134, 134, 0.5);
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group:hover {
    background-color: #e4e4e4;
}

.input-group:focus {
    border: 2px solid #079046;

}

.password-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.eye-icon {
    position: absolute;
    right: 3vw;
    background: none;
    border: none;
    cursor: pointer;
}

.eye-icon img {
    aspect-ratio: 1;
    width: 1.5vw;
}

.agreement-section {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 80%;
    color: #079046;
    font: 400 Neulis Alt, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 1.1vw;
    padding: 0 20px;
}

.checkbox {
    aspect-ratio: 1;
    width:15px;
    height: 15px;
    margin-top: 0.5vw;
    margin-right: 4px;
    background-color: rgba(187, 200, 193, 1);
    border-radius: 4px;
}

.agreement-text {
    display: block;
    color: black;
}

.highlighted-text {
    text-decoration: underline;
    color: rgba(7, 144, 70, 1);
}

.cta-button {
    text-shadow: 2px 2px 8px rgba(228, 228, 228, 0.5);
    border-radius: 43px;
    box-shadow: 4px 4px 12px 0px rgba(7, 144, 70, 0.25);
    background-color: #079046;
    margin-top: 25px;
    font-size: 1.2vw;
    font-weight: 400;
    color: #e4e4e4;
    line-height: 1.2;
    padding: 8px 20px;
    border: 2px solid #079046;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.cta-button::before {
    content: "";
    /* Empty content by default */
    position: absolute;
    left: -20px;
    /* Position the symbol off the button by default */
    top: 50%;
    transform: translateY(-50%);
    color: #079046;
    /* Green color for the symbol */
    font-size: 1.5vw;
    opacity: 0;
    /* Hidden by default */
    transition: opacity 0.3s ease, left 0.3s ease;
    /* Smooth animation */
}
.cta-button:hover::before {
    content: ">";
    /* Add the symbol on hover */
    left: 10px;
    /* Move the symbol closer to the button */
    opacity: 1;
    /* Make it visible */
}

.cta-button:hover {
    padding: 10px 2vw;
    background-color: transparent;
    color: #079046;
    transform: translateY(-2px);
}

.cta-button:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
}

.question{
    font-size: 1.2vw;
    margin-top: 20px;
}

.login-link{
    font: 400 Neulis Alt, -apple-system, Roboto, Helvetica, sans-serif;
    color: #079046;
    text-decoration: underline;
    transition: all 0.3s ease;
    font-size: 1.3vw;
}