<main class="page-container">
    <section class="signup-section">
        <div class="signup">
            <img src="images/signup/Logo.svg" alt="Tunulanci logo" class="tunilanci-logo">
            <h1 class="signup-title">Sign Up</h1>
            <button class="continue-with-button" id="google-button">
                <img src="images/signup/google.svg" id="google-icon" class="continue-logo" alt="google icon">
                <p>Continue with Google</p>
            </button>
            <button class="continue-with-button" id="facebook-button">
                <img src="images/signup/facebook.svg" id="facebook-icon" class="continue-logo" alt="facebook icon">
                <p>Continue with Facebook</p>
            </button>
            <button class="continue-with-button" id="apple-button">
                <img src="images/signup/apple.svg" id="apple-icon" class="continue-logo" alt="apple icon">
                <p>Continue with Apple ID</p>
            </button>
            <div class="divider-container" role="separator" aria-orientation="horizontal">
                <div class="divider-line"></div>
                <div class="divider-text">Or create your account</div>
                <div class="divider-line"></div>
            </div>
            <div class="signup-form">
                <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div class="form-line">
                        <input type="text" formControlName="firstName" placeholder="First Name" class="input-group" name="first-name" required>
                        <input type="text" formControlName="lastName" placeholder="Last Name" class="input-group" name="last-name" required>
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched">
                    First name is required (min. 2 characters).
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched">
                    Last name is required (min. 2 characters).
                    </div>

                    <div class="form-line">
                        <input type="email" placeholder="Email" class="input-group" formControlName="email" name="email" required>
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
                        Please enter a valid email.
                      </div>
                    <div class="password-line">
                        <input 
                          [type]="isPasswordVisible ? 'text' : 'password'" 
                          placeholder="Password (8 or more characters)" 
                          class="input-group" 
                          id="password-input" 
                          required 
                          formControlName="password"
                        />
                        <button 
                          type="button" 
                          (click)="togglePasswordVisibility()" 
                          class="eye-icon"
                          aria-label="Toggle password visibility">
                          <img 
                            [src]="isPasswordVisible ? 'images/signup/visible.svg' : 'images/signup/hidden.svg'" 
                            alt="eye icon" 
                          />
                        </button>
                      </div>
                      <div class="text-danger" *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
                        Password must be at least 8 characters long.
                      </div>
                      <div class="agreement-section">
                        <input type="checkbox" id="agreement" class="checkbox" formControlName="agreement" />
                        <label for="agreement" class="agreement-text">
                          I understand and agree to the
                          <span class="highlighted-text">Tunilanci Terms of Service</span>,
                          including the
                          <span class="highlighted-text">Privacy Policy</span>.
                        </label>
                      </div>
                      <div class="text-danger" *ngIf="signUpForm.get('agreement')?.invalid && signUpForm.get('agreement')?.touched">
                        You must agree to the terms.
                      </div>
                      <button type="submit" [disabled]="signUpForm.invalid" class="cta-button">
                        <span>Join Tunilanci</span>
                    </button>
                </form>
            </div>
            <div class="question">
                <p>Having an account?</p>
            </div>
            <div>
                <a href="#" class="login-link">Login</a>
            </div>
        </div>
        <div class="illustrarion">
            <img src="images/signup/telescope.svg" alt="illustraion icon" class="illustraion image">
        </div>
    </section>
</main> 
